   *,
      ::before,
      ::after {
        box-sizing: border-box;
      }

      :root {
        --gap-size: 1.5rem;
      }

      body {
        background-color: #709b90;
        font-family: Helvetica, Arial, sans-serif;
      }

      .stack > * + * {
        margin-block-start: 1.5em;
      }

      .container {
        display: grid;
        grid-template-areas: 
        "title title"
        "nav nav"
        "main aside1"
        "main aside2";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(4, [row] auto);
        gap: var(--gap-size);
        max-inline-size: 1080px;
        margin-inline: auto;
      }

      header {
        grid-area: title;
      }
      nav {
        grid-area: nav;
      }

      .site-nav {
        display: flex;
        gap: var(--gap-size);
        margin: 0;
        padding: 0.5em;
        background-color: #5f4b44;
        list-style-type: none;
      }

      .site-nav > li > a {
        display: block;
        padding: 0.5em 1em;
        background-color: #cc6b5a;
        color: white;
        text-decoration: none;
      }

      .site-nav > .nav-right {
        margin-inline-start: auto;
      }

      .main {
        grid-area: main;
      }

      .sidebar-top {
        grid-area: aside1;
      }

       .sidebar-bottom {
        grid-area: aside2;
      }

      .tile {
        padding: 1.5em;
        background-color: #fff;
      }

      .tile > :first-child {
        margin-top: 0;
      }

      .page-heading {
        margin: 0;
      }

      .login-form h3 {
        margin: 0;
        font-size: 0.9em;
        font-weight: bold;
        text-align: end;
        text-transform: uppercase;
      }

      .login-form input:not([type="checkbox"]):not([type="radio"]) {
        display: block;
        width: 100%;
      }

      .login-form button {
        margin-block-start: 1em;
        border: 1px solid #cc6b5a;
        background-color: white;
        padding: 0.5em 1em;
        cursor: pointer;
      }

      .centered {
        text-align: center;
      }

      .cost {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.7;
      }

      .cost-currency {
        font-size: 2rem;
      }
      .cost-dollars {
        font-size: 4rem;
      }
      .cost-cents {
        font-size: 1.5rem;
        align-self: flex-start;
      }

      .cta-button {
        display: block;
        background-color: #cc6b5a;
        color: white;
        padding: 0.5em 1em;
        text-decoration: none;
      }