body {
    font-family: sans-serif;
}

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
}

a:link {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 2px;
}

a:visited {
    background-color: purple;
}

a:hover {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .featured {
    background-color: orange;
}

.footer {
    color: #666;
    background-color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: unset;
    background-color: unset;
    text-decoration: revert;
}