:root {
    font-size: 0.85em;
}

@media(min-width: 800px) {
    :root {
        font-size: 1em;
    }
}

@media(min-width: 1200px){
    :root{
        font-size: 1.15em;
    }
}

body {
    font-family: sans-serif;
}

h1{
    color: #2f4f4f;
    margin-bottom: 10px;
    font-weight: bold;
}

.title {
    font:32px Helvetica, Arial, sans-serif;
}

a:link {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 2px;
}

a:visited {
    background-color: purple;
}

a:hover {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

a:active {
    color: red;
}

.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}

.nav .featured {
    background-color: orange;
    box-shadow: 10px 2px #6f9090;
}

.footer {
    color: #666;
    background-color: #ccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: unset;
    background-color: unset;
    text-decoration: revert;
}

.coffees {
    margin: 20px 0;
}

.coffees a {
    display: inline-block;
    min-width: 300px;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    background-color: transparent;
    border: 1px solid gray;
    border-radius: 5px;
}

@supports (display: grid) {
    .coffees {
        display: grid;
        grid-template-columns: 1fr;
        gap:10px;
    }

    @media(min-width:800px){
        .coffees {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap:10px;
    }
    }

    .coffees a {
        margin: unset;
        min-width: unset;
    }
}

.panel > h2 {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.panel {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid #999;
    margin-bottom: 1em;
}

.panel  a {
    color: revert;
    background-color: unset;
    text-decoration: revert;
}

